# folders
.idea
/bin/
.vscode
/tmp
/lab
dev.sh
*csv2table

# NPM
npm-package/bin/gohome
npm-package/bin/gohome.exe
npm-package/*.tgz
node_modules/

# Test
coverage.out
coverage.txt
*.test
_test/

# Build
/dist/
/build/

.exe

SUMMARY.md